.prioridad_0{
    background-color: #d4edda;
}
.prioridad_1{
    background-color: #fff3cd;
}
.prioridad_2{
    background-color: #ffe0b2;
}
.prioridad_3{
    background-color: #f8d7da;
}
.of{
    font-size: 20px;
}